@font-face {
    font-family: 'krungthep';
    src: url('../fonts/krungthep.ttf')
}

:root {
    --tonic1: #f88056;
    --tonic2: #49A4D5;
    --secondary: #3B5285;
    --dark-blue: #21284B;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Ubuntu', sans-serif;
}

html {
    font-size: 62.5%;
}

body {
    position: relative;
    min-height: 100vh;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

h1 {
    font-family: 'krungthep', sans-serif;
    font-size: 3.2rem;
    text-align: center;
    margin-bottom: 10px;
}

.main-container {
    position: relative;
    margin: auto;
    width: 80%;
    padding: 50px 0;
    overflow: visible;
}

/******** HEADER ********/

.main-menu {
    position: relative;
    height: 100px;
    width: 100%;
    padding: 0 7%;

    background: var(--secondary);
    box-shadow: 0 10px 30px rgba(0,0,0,0.3);

    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.main-menu__logo {
    position: absolute;

    height: 60%;

    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    margin: auto;
}

.main-menu__left, .main-menu__right {
    position: relative;
    display: flex;
    align-items: center;
    gap: 30px;
}

.main-menu__link {
    position: relative;
    color: white;
    text-decoration: none;
    transition: all ease 0.2s;
    z-index: 5;

    display: flex;
    flex-direction: column;
    align-items: center;

    font-size: 1.4rem;
    font-weight: 300;
}

.main-menu__link svg {
    height: 30px;
    padding: 2px;
    fill: white;
    transition: all ease 0.2s;
    margin-bottom: 5px;
    transform-origin: bottom;
}

#logout-svg {
    height: 30px;
    padding: 3px;
}

.main-menu__link:hover:not(.active) svg{
    fill: var(--tonic1);
    transform: scale(1.1);
}

.main-menu__link.active {
    color: var(--tonic1);
    font-weight: 500;
}

.main-menu__link.active svg {
    filter: drop-shadow(0 3px 10px rgba(0,0,0,0.4));
}

/******** FLASH ********/

.flash-message {
    position: fixed;
    bottom: 30px;
    left: 30px;

    width: auto;
    font-size: 1.6rem;
    padding: 15px;

    display: flex;
    justify-content: center;
    align-items: center;

    background: hsl(180, 3%, 100%);
    box-shadow: inset 0 0 .5px 1px hsla(0, 0%, 100%, 0.075), 0 5px 10px rgba(0,0,0,0.1) ;
    border-radius: 5px;
    cursor: pointer;
}